.git
.github
.turbo
.runtime
.runlogs
artifacts
coverage
playwright-report
test-results

node_modules
**/node_modules

dist
**/dist

infra/.env
infra/.env.dev
infra/.env.test
infra/nginx/certs/*.pem
infra/nginx/certs/*.key
infra/.dev-certs/
*.zip
